body {

    background-image:url('https://www.dropbox.com/scl/fi/j6g0n2dboxuz65ig6b65b/807b9f24-9fae-4245-a540-069ba8fd658f.webp?rlkey=clwnk2giiac80kd9kpiw3nbh4&st=6e8b75o1&raw=1');
    font-family: Arial, sans-serif;
}

.slide-left {

transform: translateX(-100vw);
transition: transform 1s ease-out;

}

.slide-right{

    transform: translateX(100vw);
    transition: transform 1s ease-out;

}

.slide-in{

    transform: translateX(0);

}

.containerDivs 
{
    font-weight:bolder;
    color: #660000;
    text-shadow:black;
    //*box-shadow: black;*/
}