body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
    background-color: #333333;
    margin: 0;
    font-family: Arial, sans-serif;
}
.button-container {
    text-align: center;
}
.button {
    background-color: #660000;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}
.button:hover {
    background-color: #3B0B0B;
}